<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no"
    />
    <title>Yangon 2D | Add Result</title>
    <link rel="stylesheet" href="../../panel.css" />
  </head>
  <body>
    <header>
      <div>
        <h1 class="main-title">Yangon 2D</h1>
      </div>
    </header>
    <main>
      <div class="top-div" style="margin-bottom: 10px">
        <div class="page-title">Control Panel</div>
      </div>

      <div class="bottom-div" style="padding: 0px 18px">
        <p>Add Result</p>
        <form action="/panel/results/add" method="post" class="close-day-form">
          <input type="text" name="date" placeholder="1/12/2022" />
          <input type="text" name="time" placeholder="12:00 PM" />
          <input type="text" name="buy" placeholder="Buy Eg: 1111" />
          <input type="text" name="sell" placeholder="Sell Eg: 2222" />
          <input type="text" name="result" placeholder="Result Eg: 12" />
          <button type="submit">Add</button>
        </form>
      </div>
    </main>

    <script></script>
  </body>
</html>
