<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale = 1.0, user-scalable = no"
    />
    <title>Yangon 2D | Panel</title>
    <link rel="stylesheet" href="../panel.css" />
  </head>
  <body>
    <header>
      <div>
        <h1 class="main-title">Yangon 2D</h1>
      </div>
    </header>
    <main>
      <div class="top-div">
        <div class="page-title">Welcome - Control Panel</div>
      </div>
      <div class="bottom-div">
        <div class="actions">
          <button>add / update alert text</button>
          <button>add / update next result</button>
          <button onclick="location.href='/panel/close-days'">
            add / update 2D close days
          </button>
          <button>update / delete result history</button>
          <button>add result manually</button>
          <button>logout from panel</button>
        </div>
      </div>
    </main>
  </body>
</html>
