<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 , user-scalable=no"
    />
    <title>Yangon 2D | Login</title>
    <link rel="stylesheet" href="../panel.css" />
  </head>
  <body>
    <header>
      <div>
        <h1 class="main-title">Yangon 2D</h1>
      </div>
    </header>
    <main>
      <div class="top-div">
        <div class="page-title">Login to Panel</div>
      </div>
      <div class="bottom-div">
        <form class="login-form" action="/panel/login" method="post">
          <input type="text" name="username" placeholder="Username" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Login</button>
        </form>
      </div>
    </main>
  </body>
</html>
