<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 , user-scalable=no"
    />
    <title>Yangon 2D | Home</title>
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <header>
      <div>
        <h1 onclick="window.location.href = '/'" class="main-title">
          Yangon 2D
        </h1>
      </div>
    </header>
    <main>
      <div class="top-div">
        <div class="live-number">
          <h1 id="result-data" class="blink">--</h1>
          <p id="date-time-data">🕥 Loading...</p>
        </div>
        <div class="live-board">
          <div class="board">
            <h3>BUY</h3>
            <p id="buy-data" class="blink">--</p>
          </div>
          <div class="divider"></div>
          <div class="board">
            <h3>SELL</h3>
            <p id="sell-data" class="blink">--</p>
          </div>
        </div>
      </div>
      <div class="bottom-div">
        <% if (alert) { %>
        <div class="alert-div">
          <p id="alert-text"><%= alert %></p>
        </div>
        <% } %>
        <p>Today Results</p>
        <div class="today-board">
          <div class="today-board-result">
            <p id="first-result-time">&nbsp; 9:00 AM</p>
            <p id="first-result-buy">-</p>
            <p id="first-result-sell">-</p>
            <p id="first-result">-</p>
          </div>
          <div class="today-board-result">
            <p id="second-result-time">12:00 PM</p>
            <p id="second-result-buy">-</p>
            <p id="second-result-sell">-</p>
            <p id="second-result">-</p>
          </div>
          <div class="today-board-result">
            <p id="third-result-time">&nbsp; 3:00 PM</p>
            <p id="third-result-buy">-</p>
            <p id="third-result-sell">-</p>
            <p id="third-result">-</p>
          </div>
          <div class="today-board-result">
            <p id="fourth-result-time">&nbsp; 5:00 PM</p>
            <p id="fourth-result-buy">-</p>
            <p id="fourth-result-sell">-</p>
            <p id="fourth-result">-</p>
          </div>
          <div class="today-board-result">
            <p id="fifth-result-time">&nbsp; 8:00 PM</p>
            <p id="fifth-result-buy">-</p>
            <p id="fifth-result-sell">-</p>
            <p id="fifth-result">-</p>
          </div>
        </div>
        <div class="actions">
          <button
            class="result-btn"
            onclick="window.location.href = '/results'"
          >
            <img
              style="margin-right: 10px"
              src="voting.png"
              width="25"
              height="25"
              alt=""
            />
            <span>Result History</span>
          </button>
        </div>
      </div>
    </main>
    <script>
      getTodayData();

      function onTheHourFunction() {
        var date = new Date();
        const time = date.toLocaleString("en-US", {
          hour: "numeric",
          minute: "numeric",
          hour12: true,
        });
        console.log("Time : " + time);
        getTodayData();
      }

      function getLiveData() {
        let xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/live", false);
        xmlHttp.send(null);
        let data = JSON.parse(xmlHttp.response);
        document.getElementById("buy-data").innerText = data.buy;
        document.getElementById("sell-data").innerText = data.sell;
        document.getElementById("result-data").innerText = data.result;
        document.getElementById("date-time-data").innerText =
          "🕥 Updated " + data.date_time;
      }

      function getTodayData() {
        let xmlHttp = null;
        xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", "/api/today", false);
        xmlHttp.send(null);
        let data = JSON.parse(xmlHttp.response);
        console.log("Working on exactly at hour");
        console.log("Today data", data);

        document.getElementById("first-result-buy").innerText = data[0]
          ? data[0].buy
          : "-";
        document.getElementById("first-result-sell").innerText = data[0]
          ? data[0].sell
          : "-";
        document.getElementById("first-result").innerText = data[0]
          ? data[0].result
          : "-";

        document.getElementById("second-result-buy").innerText = data[1]
          ? data[1].buy
          : "-";
        document.getElementById("second-result-sell").innerText = data[1]
          ? data[1].sell
          : "-";
        document.getElementById("second-result").innerText = data[1]
          ? data[1].result
          : "-";

        document.getElementById("third-result-buy").innerText = data[2]
          ? data[2].buy
          : "-";
        document.getElementById("third-result-sell").innerText = data[2]
          ? data[2].sell
          : "-";
        document.getElementById("third-result").innerText = data[2]
          ? data[2].result
          : "-";

        document.getElementById("fourth-result-buy").innerText = data[3]
          ? data[3].buy
          : "-";
        document.getElementById("fourth-result-sell").innerText = data[3]
          ? data[3].sell
          : "-";
        document.getElementById("fourth-result").innerText = data[3]
          ? data[3].result
          : "-";

        document.getElementById("fifth-result-buy").innerText = data[4]
          ? data[4].buy
          : "-";
        document.getElementById("fifth-result-sell").innerText = data[4]
          ? data[4].sell
          : "-";
        document.getElementById("fifth-result").innerText = data[4]
          ? data[4].result
          : "-";
      }

      setInterval(function () {
        onTheHourFunction();
        // const date = new Date();
        // const hour = date.getHours();
        // const minute = date.getMinutes();
        // const second = date.getSeconds();
        // if (
        //   hour.toString() === "9" &&
        //   minute.toString() === "0" &&
        //   second.toString() === "1"
        // ) {
        //   onTheHourFunction();
        // } else if (
        //   hour.toString() === "12" &&
        //   minute.toString() === "0" &&
        //   second.toString() === "1"
        // ) {
        //   onTheHourFunction();
        // } else if (
        //   hour.toString() === "15" &&
        //   minute.toString() === "0" &&
        //   second.toString() === "1"
        // ) {
        //   onTheHourFunction();
        // } else if (
        //   hour.toString() === "17" &&
        //   minute.toString() === "0" &&
        //   second.toString() === "1"
        // ) {
        //   onTheHourFunction();
        // } else if (
        //   hour.toString() === "20" &&
        //   minute.toString() === "0" &&
        //   second.toString() === "1"
        // ) {
        //   onTheHourFunction();
        // }
      }, 1000);

      setInterval(() => {
        getLiveData();
      }, 5000);
    </script>
  </body>
</html>
