<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Yangon 2D | Home</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div>
        <h1 class="main-title">Yangon 2D</h1>
      </div>
    </header>
    <main>
      <div class="top-div">
        <div class="live-number">
          <h1>94</h1>
          <p>Updated 20-07-2022 10:30:00</p>
        </div>
        <div class="live-board">
          <div class="board">
            <h3>BUY</h3>
            <p>1.4329</p>
          </div>
          <div class="divider"></div>
          <div class="board">
            <h3>SELL</h3>
            <p>3.4004</p>
          </div>
        </div>
      </div>
      <div class="bottom-div">
        <p>Today Results</p>
        <div class="today-board">
          <div class="today-board-result">
            <p>&nbsp; 9:00 AM</p>
            <p>1.4329</p>
            <p>3.4004</p>
            <p>94</p>
          </div>
          <div class="today-board-result">
            <p>12:00 PM</p>
            <p>1.4329</p>
            <p>3.4004</p>
            <p>94</p>
          </div>
          <div class="today-board-result">
            <p>&nbsp; 3:00 PM</p>
            <p>1.4329</p>
            <p>3.4004</p>
            <p>94</p>
          </div>
          <div class="today-board-result">
            <p>&nbsp;5:00 PM</p>
            <p>1.4329</p>
            <p>3.4004</p>
            <p>94</p>
          </div>
          <div class="today-board-result">
            <p>&nbsp; 8:00 PM</p>
            <p>1.4329</p>
            <p>3.4004</p>
            <p>94</p>
          </div>
        </div>
        <div class="actions">
          <button class="result-btn">
            <img
              style="margin-right: 10px"
              src="voting.png"
              width="25"
              height="25"
              alt=""
            />
            <span>Result History</span>
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
